# SQL Server
SA_PASSWORD= ""

# Connection String
CONNECTION_STRING= ""

#Azure
AZURE_STORAGE_CONNECTION_STRING= ""
AZURE_STORAGE_CONTAINER_NAME= ""

# JWT
JWT_SECRET= ""
JWT_ISSUER= ""
JWT_AUDIENCE= ""
JWT_EXPIRY_MINUTES= ""
JWT_REFRESH_EXPIRY_DAYS= ""

# Email
EMAIL_HOST= ""
EMAIL_PORT= ""
EMAIL_USERNAME= ""
EMAIL_PASSWORD= ""
EMAIL_FROM= ""
EMAIL_FROM_NAME= ""